#header {
  background-color: #000; /* blue navbar background */
  color: white; /* white text color */
  text-align: center;
  padding: 15px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.heading1 {
  /* text-align: left; */
  font-size: 30px;
  margin: 0;
  padding: 0 10px;
  letter-spacing: 1px;
  font-weight: 800;
  color: white;
}
